# Get your free API keys from: https://console.groq.com/keys
# You can use 1-3 keys. More keys = faster (avoids rate limits)
GROQ_API_KEY_1=your_first_groq_api_key_here
GROQ_API_KEY_2=your_second_groq_api_key_here
GROQ_API_KEY_3=your_third_groq_api_key_here
